*{
  box-sizing: border-box;
}
.first-div {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.first-div h3, .second-div h3 {
  font-size: 1.3rem;
}
.first-div img {
  max-width: 100%;
}
.first-div p, .second-div p {
  font-family: Raleway;
  line-height: 1.5rem;
}
.first-div h3, .second-div h3, .first-div h4 {
  font-family: Oxygen
}
.first-div h4 {
  margin-top: -0.5rem;
}
.second-div {
  margin-top: 4rem;
  padding: 2rem;
}
.second-div img {
  max-width: 100%;
}
.second-div-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .5rem;
}
.second-div-images div {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}



@media (min-width: 800px) {
  .first-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: 6rem;
  }
  .second-div {
    margin-top: 10rem;
  }
  .second-div-images {
    padding: 3rem;
    gap: 1.2rem;
  }
  .second-div-images div {
    gap: 1.2rem;
  }
  .second-div div:first-child {
  text-align: center;
 }
}